<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Blog Space</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/addnew">Post New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/authors">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/addauthor">New Author</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container mt-4 mb-4"><h1>Edit Blog</h1></div>
    <div class="container">
        <form action="/edit/<%=data.id%>" method="post">
            <div class="mb-3">
                <label class="form-label">Blog Title</label>
                <input type="text" class="form-control" name="title" value="<%=data.title%>">
            </div>

            <div class="mb-3">
                <label class="form-label">Blog Content</label>
                <input type="text" class="form-control" name="content" value="<%=data.content%>">
            </div>

            <div class="mb-3">
                <label class="form-label">Blog Catergory</label>
                <input type="text" class="form-control" name="blog_cat" value="<%=data.blog_cat%>">
            </div> 

            <div class="mb-3">
                <label class="form-label">Blog Author</label>
                <input type="text" class="form-control" name="author" value="<%=data.author%>">
            </div>

            <div class="mb-3">
              <label class="form-label">Blog Likes</label>
              <input type="text" class="form-control" name="likes" value="<%=data.likes%>">
          </div>

            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/back" class="btn btn-danger">Back</a>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


  </body>
</html>
